
<ion-header [translucent]="true" class="header">

  <app-navbar (perfilUsuarioActivoOutput)="recibirPerfil($event)" [pagina]="this.pagina"></app-navbar>

</ion-header>

<ion-content>
  <div *ngIf="tipoListado == 'clientes'">
    <app-listado-clientes [tipoListado]="this.tipoListado"></app-listado-clientes>
  </div>

  <div *ngIf="tipoListado == 'espera'">
    <app-listado-espera [tipoListado]="this.tipoListado"></app-listado-espera>
  </div>

  <div *ngIf="tipoListado == 'menu'">
    <app-listado-productos [tipoListado]="this.tipoListado"></app-listado-productos>
  </div>

</ion-content>