<ion-content [fullscreen]="true">

  <div id="container">

    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/duenio.png"
          ></ion-button>
          
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/supervisora.png"
          ></ion-button>
          
    </div>
    <div class="fila">
      <ion-button color="light" style="display: flex; flex-direction: column;"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/empleado.png"
          ></ion-button>
          
      <ion-button color="light"><img width="100%" style="margin: 4%;" src="../../../assets/imagenes/mesa.png"
          ></ion-button>
    </div>
















  </div>





</ion-content>